@using ReflectionIT.Mvc.Paging
@model PagingList<CompanyExposeVM>

@foreach (var item in Model)
{
    <div class="row mb-5">
        <div class="col-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @{
                        bool first = true;
                        foreach (var image in item.ImageCompanyExposeVMs)
                        {
                            if (first)
                            {
                                <div class="carousel-item active">
                            <img src="~/image/@item.ImageCompanyExposeVM.ImageName" class="d-block w-100" alt="@item.ImageCompanyExposeVM.Title">
                                </div>
                            }

                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="col-6">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <hr>
                <div class="card-body">
                    <p><span class="fw-bolder">Address: </span>@item.City, @item.StreetNameAndNumber</p>
                    <p><span class="fw-bolder">Contact: </span>@item.PhoneNumber</p>
                    <p><span class="fw-bolder">Category: </span>@item.CompanyTypeName</p>
                    <p><span class="fw-bolder">Open Hours: </span>@item.OpeningHours.ToShortTimeString() - @item.ClosingHours.ToShortTimeString()</p>
                </div>
                <a asp-controller="Company" asp-action="ViewCompany" id="@item.Id" type="button" class="btn btn-success">Make an Appointment</a>
            </div>
        </div>
    </div>
}