@using ReflectionIT.Mvc.Paging
@model PagingList<CompanyExposeVM>

@foreach (var item in Model)
{
    <br />
    <div class="row">
        <div class="col-md-4 ">
            <img src="~/image/@item.ImageCompanyExposeVM.ImageName" class="img-fluid rounded" alt="@item.ImageCompanyExposeVM.Title">
        </div>
        <div class="col-md-4 g-0">
            <div class="card" style="max-width: 35rem; border: none">
                @*<div class="card-body">
                    </div>*@
                <div class="card-body">
                    <h4 class="card-title border-bottom mb-3"><span class="align-middle">@item.Name</span></h4>


                    <p class="border-bottom"><span class="fw-bolder">Address: </span>@item.City, @item.StreetNameAndNumber</p>
                    <p class="border-bottom"><span class="fw-bolder">Contact: </span>@item.PhoneNumber</p>
                    <p class="border-bottom"><span class="fw-bolder">Category: </span>@item.CompanyTypeName</p>
                    <p class="border-bottom"><span class="fw-bolder">Open Hours: </span>@item.OpeningHours.ToShortTimeString() - @item.ClosingHours.ToShortTimeString()</p>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a asp-controller="Company" asp-action="ViewCompany" asp-route-id="@item.Id" class="btn btn-outline-dark me-md-2" type="button">Make an Appointment</a>
                </div>
            </div>
    <hr />
        </div>
    </div>
}